doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
    body
        .container
            h1 Hello World
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ducimus?

            h1 h1. Bootstrap heading
                small Some text
            h2 h2. Bootstrap heading
                span.small Some text
            h3 h3. Bootstrap heading
            h4 h4. Bootstrap heading
            h5 h5. Bootstrap heading
            h6 h6. Bootstrap heading

            hr

            p.h1 h1. Bootstrap heading
            p.h2 h2. Bootstrap heading
            p.h3 h3. Bootstrap heading
            p.h4 h4. Bootstrap heading
            p.h5 h5. Bootstrap heading
            p.h6 h6. Bootstrap heading

            hr

            h1.display-1 Display 1
            h1.display-2 Display 2
            h1.display-3 Display 3
            h1.display-4 Display 4

            h1.display-1 Hello World
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda mollitia neque porro, sit tempore!

            hr

            h3 List

            ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Consectetur adipiscing elit
                li Integer molestie lorem at massa
                li Facilisis in pretium nisl aliquet
                li
                    | Nulla volutpat aliquam velit
                    ul
                        li Phasellus iaculis neque
                        li Purus sodales ultricies
                        li Vestibulum laoreet porttitor sem
                        li Ac tristique libero volutpat at
                li Faucibus porta lacus fringilla vel
                li Aenean sit amet erat nunc
                li Eget porttitor lorem

            ul.list-unstyled.list-inline
                li.list-inline-item Lorem ipsum dolor sit amet
                li.list-inline-item Consectetur adipiscing elit
                li.list-inline-item Integer molestie lorem at massa
                li.list-inline-item Facilisis in pretium nisl aliquet




