doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Text & Colors
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
    body
        .container
            h1 Text and Colors
            p.text-left.text-uppercase.font-weight-bold Lorem ipsum dolor sit amet.
            p.text-center.text-lowercase.font-weight-normal Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, similique!
            p.text-right.text-capitalize.font-weight-light Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium itaque modi nesciunt odit totam vero?
            p.text-justify.font-italic Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet deserunt nobis quod vel. Alias aliquid assumenda cumque, ducimus ex facilis incidunt iusto, officiis saepe tempora tenetur voluptas! Consequatur et in maxime possimus, quae quibusdam saepe tempore. At consectetur dicta fugit libero nobis porro quam soluta vero? Ipsam iure, labore?

            p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-secondary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-success Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-light.bg-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-dark Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.
            p.text-white.bg-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem facere magni natus reprehenderit suscipit.

            .p-3.mb-2.bg-primary.text-white .bg-primary
            .p-3.mb-2.bg-secondary.text-white .bg-secondary
            .p-3.mb-2.bg-success.text-white .bg-success
            .p-3.mb-2.bg-danger.text-white .bg-danger
            .p-3.mb-2.bg-warning.text-dark .bg-warning
            .p-3.mb-2.bg-info.text-white .bg-info
            .p-3.mb-2.bg-light.text-dark .bg-light
            .p-3.mb-2.bg-dark.text-white .bg-dark
            .p-3.mb-2.bg-white.text-dark .bg-white
            .p-3.mb-2.bg-transparent.text-dark .bg-transparent
